@keyframes successImgTransition {
	/* ref: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
	0% {
	  content: url("https://img.icons8.com/ios/50/228BE6/sent--v1.png");
	} 
	20% {
		opacity: .7;
		content: url("https://img.icons8.com/ios/50/228BE6/sent--v1.png");
	}
	60% {
		background-position: left center;
	}
	80% {
		background-position: right center;
		content: url("https://img.icons8.com/ios/50/228BE6/checked--v1.png");
		width: 65px;
	}
	100% {
		content: 'Redirecting...';
	}
  }
  @keyframes successMsgTransition {
	0% {
		opacity: 0;
		background-position: left center;
	}
	50% {
		opacity: .6;
		background-position: left center;
	}
	100% {
		opacity: 1;
		background-position: right center;
	}
}
body {
	text-align: center;
	background-color: #fff;
	color: #202020;
	font-family:'Avenir', 'Arial', 'sans-serif';
	background-image: linear-gradient(to bottom, #fff 0%, #eee  51%, #fff  100%);
	margin: 0;
}
.toggleDisplay {
	display: none;
}
/* Heading Styling below ---------- */
.homeIntro p {
	background-color: #fff;
	margin: 10px 0 40px;
	padding: 40px 0;
	border-bottom: solid 5px #eee;
}
h1, h2 {
	font-family: 'Helvetica';
}
h1 {
	position: relative;
	width: 100px;
	padding-top: 50px;
	margin: 0 auto 10px;
	font-size: 2rem;
	color: #1a1919;
	text-shadow: 1px 1px 2px #ccc;
}
h1::before{
	content: url('https://img.icons8.com/ios-filled/25/spy-male.png');
	position: absolute;
	left: -8px;
	top: 40px;
	width: 40px;
	height: 40px;
	opacity: .2;
}
h2 {
	font-size: 3rem;
	color: #b2aa84;
	text-align: left;
	max-width: 900px;
	text-indent: 10%;
	margin: 0 auto;
	padding: 10px;
	opacity: .5;
	text-shadow: 1px 1px #a9a8a8;
}
.userMgmtNav {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #5b5757;
	padding: 2px 5px;
}
.userMgmtNav > div {
	width: 90%;
	display: flex;
	justify-content: right;
}
.logInLink, .createLoginLink, .userPgLink, .logOutBtn {
	border: none;
	background-color: #4171eb;
	border-radius: 2px;
	margin: 1px 3px;
	width: 120px;
	text-decoration: none;
	color: #eee;
	font-family:'Avenir', 'Arial', 'sans-serif';
}
.navbar {
	max-width: 900px;
	margin: 20px auto 10px;
	/* border: solid 1px red; */
}
.navbar > .topLevelLink {
	display: flex;
	justify-content: space-around;
}
.trendingLink, .tagLink {
	text-decoration: none;
	font-size: 1.05rem;
	position: relative;
	border: solid 1px #eee;
	padding: 5px 5px 5px 30px;
	border-radius: 2px;
	width: 100px;
	margin: 3px;
	background-image: linear-gradient(to right, #eee 0%, #fff 50%, #eee 100%);
	transition: 0.7s;
	background-size: 200% auto;
	color: #212121;
}
.trendingLink:hover, .tagLink:hover {
	background-position: center right;
}
.trendingLink::before {
	content: url("https://img.icons8.com/glyph-neue/25/fire-element.png");
	padding-bottom: 2px;
	position: absolute;
	left: 12px;
}
.tagLink::before {
	content: url("https://img.icons8.com/ios/20/price-tag--v1.png");
	padding-top: 3px;
	position: absolute;
	left: 17px;
}
.tagLinkHolder {
	width: 100%;
	display: none;
}
.tagItem {
	display: block;
	text-decoration: none;
	padding: 10px;
	border-bottom: solid 1px #eee;
	text-align: left;
	text-indent: 35%;
	color: #b8b88e;
	text-shadow: 1px 1px #ddd;
}
.tagItem:hover {
	color: #1e52d5;
}
.tagItem::before {
	content: url("https://img.icons8.com/ios/15/price-tag--v1.png");
	padding-right: 5px;
}

/* Tag: "https://img.icons8.com/ios/50/price-tag--v1.png" */
/* Fire: "https://img.icons8.com/glyph-neue/64/fire-element.png" */

/* Heading Styling above ---------- */
/* Home Styling below ------------- */
.home {
	padding: 10px;
	max-width: 1030px;
	margin: 0 auto;
	min-height: 600px;
}
.addPostSection {
	margin: 10px;
}
.addPostSection h2, .homeTrending h2, .homePosts h2 {
	font-size: 2rem;
}
.homeTrending {
	padding: 10px 0;
}
.homePosts {
	padding: 10px 0;
}
.linkFromHome {
	text-decoration: none;
	color:#47a6d8;
	font-weight: 700;
	text-transform: uppercase;
}
.linkFromHome:hover {
	color:#5bb1e0;
}

/* Home Styling above ------------- */
/* Contact Page styling below ----- */
.contactPage {
	padding: 0 10px 50px;
}
.contactForm {
	margin: 0 10px;
	max-width: 500px;
	box-shadow: 5px 5px 10px #ddd;
	padding: 50px 10px;
	border-radius: 2px;
	background-image: linear-gradient(to bottom, #ededed 0%, #eee  10%, #eee 20%, #eee 60%, #fff  100%);
}
.formOrMsg p {
	font-size: 1.15rem;
	color: #000;
	margin: 40px 0;
}
.contactForm label {
	display: inline-block;
 	width: 30%;
	text-align: left;
	text-indent: 1px;
	font-weight: 700;
	color: #5b5757;
}
.contactForm label, .contactForm input[type='text'], .contactForm textarea {
	font-size: .95rem;
}
.contactForm label::after {
	content: ' *';
	color: #811f4b;
	opacity: .5;
}
.contactForm input[type='text'], .contactForm textarea {
	width: 60%;
	border: none;
	color: #2e60cb;;
	background-color: #eee;
	border-bottom: solid 3px #e0dede;
	font-family:'Avenir', 'Arial', 'sans-serif';
	padding: 2px 5px;
}
.contactForm input[type='text']:hover, .contactForm textarea:hover {
	background-color: #fefcef;
}
.contactForm input[type='text']:focus, .contactForm textarea:focus {
	outline: none;
	border-bottom: solid 3px #2e60cb;
}
.contactForm input[type='text'] {
	height: 25px;
	margin: 3px 0;
}
.msgContain {
	display: flex;
	justify-content: space-between;
	width: 92%;
	margin: 0 auto;
}
.contactForm textarea {
	margin-top: 3px;
	width: 65%;
	margin-left: -3px;
	min-width: 65%;
	max-width: 250px;
}
.contactForm label.msg {
	place-self: center center;
	width: 32%;
	margin-right: 4px;
}
.contactForm [type=text]:focus {
	margin-bottom: 3px;  
  }
  .contactForm textarea:focus {
	margin-top: 3px;
  }
.submitFormBtn {
	color: #eee;
	font-size: 1.05rem;
	border: none;
	width: 60%;
	display: inline-block;
	padding: 20px 20px;
	margin-top: 30px;
	border-radius: 3px;
	background-image: linear-gradient(to right, #1e52d5 0%, #bae3f3  51%, #1e52d5  100%);
	transition: 0.7s;
	background-size: 200% auto;
}
.submitFormBtn:hover {
	background-position: right center;
	color: #fff;
}
.errorMsg {
	margin: 10px;
	color: #811f4b;
}
p.successMsg {
	font-size: 1.35rem;
	margin: 150px 10px 50px;
	min-height: 200px;
	position: relative;
	animation: 4s ease-out 0s 1 successMsgTransition;
}

.successMsg::before {
	content: 'Redirecting...';
	color: #1e52d5;
	position: absolute;
	top: -115px;
	left: -50px;
	right: -50px;
	border-radius: 50px;
	opacity: .95;
	background-image: linear-gradient(to right, #ddd 0%, #fff 50%, #ddd 100%);
	background-position: right center;
	background-size: 200% auto;
	width: 300px;
	margin: 0 auto;
	padding: 10px 5px 5px;
	animation: 7s ease-out 0s 1 successImgTransition;
}
/* Contact Page styling above ----- */

/* Footer Styling below------------ */
footer {
	background-color: #f9f8f8;
	padding-bottom: 10px;
}
.footerCtaBtnContain {
	background-color: #5f5e5e;
	color: #eee;

	padding: 40px 20px 60px;
	font-size: 1.2rem;
	background-image: url("https://www.transparenttextures.com/patterns/wild-oliva.png");
	/* ref: https://www.transparenttextures.com/ */
}
.footerUnderline {
	position: relative;
	color: #fff;
}
.footerUnderline::after {
	position: absolute;
	bottom: -3px;
	left: 5px;
	content: '';
	width: 60%;
	height: 2px;
	border-bottom: 2px solid #b8b88e;
	opacity: .75;
}
.contactCtaBtn {
	color: #343333;
	display: inline-block;
	font-weight: 600;
	padding: 12px 20px;
	margin-top: 5px;
	text-decoration: none;
	border-radius: 3px;
	background-image: linear-gradient(to right, #9f997a 0%, #b8b88e  51%, #b2aa84  100%);
	transition: 0.5s;
	background-size: 200% auto;
	/* gradient ref: https://gradientbuttons.colorion.co/ */
}	
.contactCtaBtn:hover {
	background-position: right center; /* change the direction of the change here */
	color: #202020;
}
.footerTeamRef {
	padding: 0 20px;
}
.footerTeamRef img {
	display: inline-block;
	width: 20px;
	margin-bottom: -2px;
	opacity: .5;
}
.footerTeamRef p, a {
	color: #9e9b9b;
	font-size: .95rem;
}
.footerTeamRef span.teamMemberLink {
	display: block;
	line-height: 2;
}
.footerTeamRef a {
	text-decoration: none;
	display: inline-block;
	min-width: 120px;
	text-align: left;
}
.footerTeamRef img {
	color: #afadad;
}
.iconCredit, .iconCredit a {
	color: #ccc;
	font-size: .80rem;
}
.footerTeamRef a:hover, .iconCredit a:hover {
	color: #47a6d8
}
/* Footer Styling above------------ */

@media screen and (min-width: 450px) {
	
	/* Contact page styling below ----- */
	.contactForm label, .contactForm input[type='text'], .contactForm textarea {
		font-size: 1.2rem;
	}
	/* Contact page styling above ----- */

}
@media screen and (min-width: 630px) {
	.homeIntro p {
		font-size: 1.25rem;
		padding: 40px 10px;
	}
	/* Heading Styling below ---------- */
	.logInLink, .createLoginLink, .userPgLink, .logOutBtn {
		padding: 7px 30px;
		margin: 2px 5px;
		font-size: 1rem;
	}
	.tagLinkHolder {
		/* display: flex;
		justify-content: space-around; */
	}
	.tagLink:hover .tagLinkHolder{
		border: solid 1px red;
		display: block;
	}
	h1 {
		font-size: 3rem;
		padding-top: 60px;
	}
	
	h1::before {
		content: url('https://img.icons8.com/ios-filled/40/spy-male.png');
		left: -20px;
		top: 50px;
	}
	.trendingLink::before {
		content: url("https://img.icons8.com/glyph-neue/30/fire-element.png");
		left: 10px;
		top: 5px;

	}
	.tagLink::before {
		content: url("https://img.icons8.com/ios/25/price-tag--v1.png");
		left: 15px;
		top: 7px;
	}
	.tagLink::after {
		content: url('https://img.icons8.com/ios-filled/10/sort-down.png');

	}
	/* selector not working to change upon hover */
	.tagLink:hover .tagLink::after {
		border: solid 1px blue; 

	}
	/* Heading Styling above ---------- */
	/* Contact page styling below ----- */
	.contactForm {
		margin: 40px auto 0;
	}
	.contactForm label {
		text-indent: 35px;
	}
	/* Contact page styling above ----- */
	/* Footer Styling below------------ */
	.footerTeamRef p {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.footerTeamRef .introToTeam {
		margin-right: 10px;
	}
	.footerTeamRef span.teamMemberLink {
		display: inline-block;
		line-height: 2;
	}
	/* Footer Styling above------------ */
}
@media screen and (min-width: 750px) {
	/* Home Styling below ------------- */
	.allAndTrending {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
	}
	.addPostSection {
		max-width: 600px;
		margin: 10px auto;
	}
	.homeTrending {
		width: 35%;
		border: solid 1px #ccc;
		min-height: 400px;
		margin: 0 10px;
	}
	.homePosts {
		width: 65%;
	}
	.linkFromHome {
		text-align: center;
		margin: 10px;
		border: solid 1px #ccc;
	}
	/* Home Styling above ------------- */
	
}
